.Login{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F5F7;
}
@media screen and (max-width:768px){
    .Login{
        background-image: url(https://pngbackground.com/public/uploads/preview/movie-poster-arrow-background-download-11614144442v7fsqflilk.jpg);
        background-size: cover;
    }
}
.Login__card{
    display: flex;
    border-radius: 20px;
    background-color: white;
}
.Login__image{
    max-width: 430px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.Login__imagebox{
    object-fit: contain;
}
.Login__errorMessage{
    background-color: rgb(249, 207, 191);
    border-radius: 10px;
}
.Home__Rightbox{
    height: 10vh;
    background-color: #4460AA;
    color: white;
}
.Home{
    height: 100vh;
    overflow: hidden;
}
