
.Movies{
    height: 90vh;
    overflow-y: auto;
    background-color: #F9F9F9;
}
.Bottombar{
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 1px solid lightgray;
}
.Sidebar{
    height: 100vh;
    background-color: white;
    border-right: 2px solid lightgray;
    color: white;
}
.Sidebar__Item{
    padding: 1em;
    color: #2c3e50;
    cursor: pointer;
}
.Sidebar__Item:hover{
    background-color: #f7f7f7;
    color: #4460AA;
}
.Sidebar__icon{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1em;
}
.Sidebar__text{
    text-decoration: none;
    color: inherit;
}
.Sidebar__text:hover{
    color: inherit;
}
.Sidebar__titlebox{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3F599E;
    color: white;
    text-align: center;
    margin-bottom: 1em;
    height: 10vh;
}
.Sidebar__title{
    font-size: 2rem;
}
.selected{
    color: #4460AA;
    font-weight: bold;
    background-color: #F9F9F9;
}
.Dashboard{
    background-color: #F9F9F9;
}
.Movies__container{
    width: 100%;
    max-width: 900px;
}
.Movies__filters{
    width: 100%;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 2em;
    flex-wrap: wrap;
    padding: 1em;
}
.Filters{
    max-width: 500px;
}
@media screen and (min-width:768){
    .Filters{
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

.Movies__containerheader{
    background-color: #E6E6F2;
}
.Movies__filterLabel{
    color: #4460AA;
    padding-left: 0.5rem;
}
.Movies_filter_box{
    border: 2px solid #4460AA;
    display: flex;
    align-items: center;
    padding: 0.3rem 0.5rem;
    border-radius: 1rem;
    display: flex;
}
.filter-icon{
    margin-left: 1em;
    width: 1.5rem;
    height: 1.5rem;
    color: #4460AA;
    margin-right: 1em;
}
.Movies__Select{
    border: 0px !important;
    outline: none;
    color: #3F599E;
    background-color: transparent;
}
.show__text{
    color: #3F599E;
    font-weight: bold;
    cursor: pointer;
}
.MovieRow__image{
    width: 10rem;
    margin-right: 1em;
}
.MovieRow{
    border-bottom: 2px solid lightgray;
}